{% if events %}

    {% for event in events %}
        <a href="event/{{ event.id }}">
            <div class="tile" style="background-image: url({{ asset(event.manifAffiche) }})">
                <div class="text">
                    <div class="container-type">
                        <div class="type">{{ event.ManifGenre }}</div>
                    </div>
                    <p>{{ event.ManifDate }} - {{ event.ManifHoraire }}</p>
                    <h3>{{ event.ManifTitre }}</h3>
                </div>
            </div>
        </a>
    {% endfor %}
{% else %}
    <h2>Aucun évènements trouvés :(</h2>
{% endif %}
