{% extends 'base.html.twig' %}

{% block title %} Manifestations {% endblock %}

{% block stylesheet %} {{ asset('css/manifestations.css') }} {% endblock %}

{% block body %}
    <main>
        <!-- create  -->


        {% for event in events %}
            <div class="card" style="background-image: url( {{ asset( event.ManifAffiche  ) }} )">
                <div class="card-content">
                    <p>{{ event.ManifTitre }}</p>
                    <p>{{ event.ManifGenre }}</p>
                    <p>{{ event.ManifDate }} - {{ event.ManifHoraire }}</p>
                </div>
            </div>
        {% endfor %}

    </main>
{% endblock %}