{% extends 'base.html.twig' %}

{% block body %}
{% block stylesheet %} {{ asset('css/evenements.css') }} {% endblock %}

<div class="wrapper">
    <div class="container">

{% for event in events %}
            <div class="tile">
                <div class="type">{{ event.ManifGenre }}</div>
                <div class="text">
                    <p>{{ event.ManifDate }} - {{ event.ManifHoraire }}</p>
                    <h3>{{ event.ManifTitre }}</h3>
                </div>
            </div>
{% endfor %}
    </div>
</div>


{% endblock %}
