{% extends 'base.html.twig' %}
{% block title %}Panier{% endblock %}
{% block meta %}<meta name="robots" content="noindex,follow"/>{% endblock %}
{% block stylesheet %} {{ asset('css/panier.css') }} {% endblock %}

{% block body %}

    {% set panier = app.request.cookies.get('panier') %}

    {% if ( panier == "[]" ) %}
        <div class="wrapper-vide">
            <p>Votre panier est vide</p><br />
            <a href="{{ path('evenements') }}">Ajouter des produits</a>
        </div>
    {% else %}
        <div class="wrapper">
            <input type="hidden" name="liste" id="liste">
            <input type="hidden" name="comp" id="comp" value='
        [
        {"id":"0","manif_date":"XX\/XX\/XXXX","manif_horaire":"XXhXX"}
        {% for event in events %}
            ,{"id":"{{ event.id }}","manif_date":"{{ event.manifDate }}","manif_horaire":"{{ event.manifHoraire }}"}
        {% endfor %}
        ]'>

            <div class="zone" id="zone">
            </div>


            <div class="wrapper--side" >
                <div class="recap" id="recap">
                </div>

                {% if app.user %}
                    <form action="valid-comm" method="post">
                        <button id="valider">Valider</button>
                    </form>
                {% else %}
                    <form action="login" method="post">
                        <button id="valider">Valider</button>
                    </form>
                {% endif %}
            </div>
        </div>
    {% endif %}

{% endblock %}