{% extends 'base.html.twig' %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/event.css') }}">

<div class="wrapper">

    <div class="left">
        <input type="hidden" id="id" value="{{ event.id }}">
        <h2 id="article"> {{ event.manifTitre }} </h2>
        <p class="prix" id="prix">{{ event.manifPrix }}€</p>
        <p class="date">{{ event.manifDate }}</p>
        <p class="heure">{{ event.manifHoraire }}</p>
        <p class="lieu">XX/XX/XXXX</p>
        <p class="paragraphe">
            {{ event.manifDescription }}
        </p>
    </div>

    <div class="right">
        <img src="{{ asset(event.manifAffiche) }}" alt="">
        <div class="control">
            <input type="number" value="1" min="1" max="99" id="qte">
        </div>
        <button id="ajout">Réserver</button>

    </div>

</div>
{% endblock %}

{% block script %}
    <script src="{{ asset('script/scriptgeneral.js') }}"></script>
    <script src="{{ asset('script/scriptpagearticles.js') }}"></script>
{% endblock %}