{% extends 'base.html.twig' %}

{% block stylesheet %} {{ asset('css/event.css') }} {% endblock %}
{% block body %}

<div class="wrapper">

    <div class="left">
        <h2> {{ event.manifTitre }} </h2>
        <p class="date">{{ event.manifDate }}</p>
        <p class="heure">{{ event.manifHoraire }}</p>
        <p class="lieu">XX/XX/XXXX</p>
        <p class="paragraphe">
            {{ event.manifDescription }}
        </p>
    </div>

    <div class="right">
        <img src="{{ asset(event.manifAffiche) }}" alt="">
        <div class="control">
            <a class="moins">-</a>
            <span>1</span>
            <a class="plus">+</a>
        </div>
        <button id="reserver">Réserver</button>
    </div>

</div>
{% endblock %}