{% extends 'base.html.twig' %}
{% block title %}{{ event.manifTitre }}{% endblock %}
{% block meta %}
    <meta name="robots" content="index,nofollow"/>
    <meta name="description" content="{{ event.manifDescription }}">
{% endblock %}
{% block stylesheet %} {{ asset('css/event.css') }} {% endblock %}

{% block body %}

<div class="wrapper">

    <div class="left">
        <input type="hidden" id="id" value="{{ event.id }}">
        <h2 id="article"> {{ event.manifTitre }} </h2>
        <p class="date">{{ event.manifDate }}</p>
        <p class="heure">{{ event.manifHoraire }}</p>
        <p class="lieu"><img src="{{ asset('svg/lieu.svg') }}" alt="icon-lieu" id="lieu">{{ event.salles }}</p>
        <p class="paragraphe">
            {{ event.manifDescription }}
        </p>
    </div>

    <div class="right">
        <img src="{{ asset(event.manifAffiche) }}" alt="Image de l'évènement">
        <div class="control">
            <select name="" id="qte" value="1">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <p class="prix"><span id="prix">{{ event.manifPrix }}</span>€</p>
        </div>
        <button id="ajout">Réserver</button>

    </div>

</div>
{% endblock %}
