{% extends 'base.html.twig' %}
{% block title %}S'inscrire{% endblock %}
{% block meta %}
    <meta name="robots" content="index,nofollow"/>
    <meta name="description" content="Inscrivez vous, et réservez vos prochaines places pour un évènements culturel proche de chez vous "/>
{% endblock %}
{% block stylesheet %} {{ asset('css/login.css') }} {% endblock %}

{% block body %}

<div class="wrapper">
    <div class="container-register">
    <h2>S'inscrire</h2>
        {{ form_start(registrationForm) }}
            <div class="duo">
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe'
                }) }}
            </div>
            <div class="duo">
                {{ form_row(registrationForm.client_prenom) }}
                {{ form_row(registrationForm.client_nom) }}
            </div>

        {{ form_row(registrationForm.client_adr_rue) }}
            <div class="duo">
                {{ form_row(registrationForm.client_adr_cp) }}
                {{ form_row(registrationForm.client_adr_ville) }}
            </div>

            <button type="submit" class="button">S'inscrire</button>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
