{% extends 'base.html.twig' %}

{% block stylesheet %} {{ asset('css/profil.css') }} {% endblock %}
{% block body %}

<div class="wrapper">
    <div class="container" id="infos">
        <h2>Vos Informations</h2>
        <div class="data">
            <p>Email : {{ client.email }}</p>
            <p>Prénom : {{ client.clientPrenom }}</p>
            <p>Nom : {{ client.clientNom }}</p>
        </div>
        <a href="{{ path('app_client_edit', {'id': client.id}) }}" class="button">Modifier</a>
    </div>

    <div class="container" id="adr">
        <h2>Votre adresse</h2>
        <div class="data">
            <p>Adresse : {{ client.clientAdrRue }}</p>
            <p>Ville : {{ client.ClientAdrVille }}</p>
            <p>Code postal : {{ client.ClientAdrCp}}</p>
        </div>
        <a href="{{ path('app_client_edit_adresse', {'id': client.id}) }}" class="button">Modifier</a>
    </div>
</div>

{% endblock %}