{% extends 'base.html.twig' %}
{% block title %}Profil{% endblock %}
{% block meta %}<meta name="robots" content="noindex,nofollow"/>{% endblock %}
{% block stylesheet %} {{ asset('css/profil.css') }} {% endblock %}

{% block body %}

    {{ dump(commandes) }}
    {{ dump(ligneCommandes) }}
    {{ dump(manifestation) }}

    {% foreach lignes %}


<div class="wrapper">

    <h1>Bonjour {{ client.clientPrenom }} {{ client.clientNom }}</h1>

    <div id="infos">
        <div class="container" id="info">
            <h2>Vos Informations</h2>
            <div class="data">
                <p><span class="bold">Email : </span>{{ client.email }}</p>
                <p><span class="bold">Prénom : </span>{{ client.clientPrenom }}</p>
                <p><span class="bold">Nom : </span>{{ client.clientNom }}</p>
            </div>
            <a href="{{ path('app_client_edit', {'id': client.id}) }}" class="button">Modifier</a>
        </div>

        <div class="container" id="adr">
            <h2>Votre adresse</h2>
            <div class="data">
                <p><span class="bold">Adresse : </span>{{ client.clientAdrRue }}</p>
                <p><span class="bold">Ville : </span>{{ client.ClientAdrVille }}</p>
                <p><span class="bold">Code postal : </span>{{ client.ClientAdrCp}}</p>
            </div>
            <a href="{{ path('app_client_edit_adresse', {'id': client.id}) }}" class="button">Modifier</a>
        </div>

        <div class="container">
            <h2>Vos commandes</h2>
            <div class="data">
                <div class="commande">
                    <a href="#">
                        <p href="">Commande 1</p>
                        <div class="control">
                            <a href="#"><img src="{{ asset('svg/voir.svg') }}" alt="Voir commande"></a>
                            <a href="#"><img src="{{ asset('svg/file.svg') }}" alt="Voir billet"></a>
                        </div>
                    </a>
                </div>

                <div class="commande">
                    <a href="#">
                        <p href="">Commande 2</p>
                        <div class="control">
                            <a href="#"><img src="{{ asset('svg/voir.svg') }}" alt="Voir commande"></a>
                            <a href="#"><img src="{{ asset('svg/file.svg') }}" alt="Voir billet"></a>
                        </div>
                    </a>
                </div>

                <div class="commande">
                    <a href="#">
                        <p href="">Commande 3</p>
                        <div class="control">
                            <a href="#"><img src="{{ asset('svg/voir.svg') }}" alt="Voir commande"></a>
                            <a href="#"><img src="{{ asset('svg/file.svg') }}" alt="Voir billet"></a>
                        </div>
                    </a>
                </div>
            </div>
            <a href="{{ path('app_client_commandes') }}" class="button">Voir plus</a>
        </div>
    </div>
</div>

{% endblock %}