{% extends 'base.html.twig' %}
{% block title %}Plus qu'une étape !{% endblock %}
{% block meta %}
    <meta name="robots" content="noindex,nofollow"/>
{% endblock %}

{% block stylesheet %}{{ asset('css/panier.css') }}{% endblock %}

{% block body %}

    <div class="wrapper">
        <div id="popup">
            <h1>Confirmez-vous les informations saisies ?</h1>
            <div>
                <a class="retour">Pas encore...</a>
                <a href="{{ path('app_commande') }}">Passer la commande</a>
            </div>
        </div>
        <div id="veil"></div>
        <input type="hidden" name="liste" id="liste">

        <div class="zone tunnel" id="zoneb">
            <h1>Plus qu'une étape, {{ app.user.clientPrenom }} !</h1><br/>

            <!-- INFORMATIONS DE LIVRAISON -->
            <h2>Saisissez une adresse de facturation</h2>
            <div class="etape1">
                <div class="cote">
                    <div class="sub">
                        <label for="pays">Pays</label>
                        <input id="pays" type="text" placeholder="Pays" class="champ full" />
                    </div>
                    <div class="sub">
                        <label for="ville">Ville</label>
                        <input id="ville" type="text" placeholder="Ville" class="champ full" />
                    </div>
                </div>

                <label for="adresse">Adresse</label>
                <input id="adresse" type="text" placeholder="Adresse" class="champ inline full" />

                <div class="cote">
                    <div class="sub">
                        <label for="code">Code postal</label>
                        <input id="code" type="text" placeholder="Code postal" class="champ full" />
                    </div>
                    <div class="sub">
                        <label for="tel">Téléphone</label>
                        <input id="tel" type="text" placeholder="Téléphone" class="champ full" />
                    </div>
                </div>
            </div>

            <!-- MOYEN DE LIVRAISON -->
            <h2>Choisissez votre moyen de livraison</h2>
            <div class="etape1">
                <p><input type="radio" name="radio" id="radio" value="1" checked="checked" />Livraison physique</p>
                <p><input type="radio" name="radio" id="radio" value="1" />Livraison dématerialisée</p>
            </div>

            <!-- MOYEN DE PAIEMENT -->
            <h2>Choisissez votre mode de paiement</h2>
            <div class="etape1">
                <p><input type="radio" name="radio2" id="btn-cb" value="1" checked="checked" /> Paiement par CB</p>
                <p><input type="radio" name="radio2" id="btn-paypal" value="1" /> paiement par Paypal</p>


                <!-- SI CB SELECTIONNÉ -->
                <div class="etape2 show" id="cb">
                    <label for="nomc">Nom associé à la carte bancaire</label>
                    <input id="nomc" type="text" placeholder="Nom associé à la carte bancaire" class="champ full paypal-avoid" />
                    <label for="num" >Numéro de la carte</label>
                    <input id="num"type="text" placeholder="Numéro de la carte" class="champ full paypal-avoid" />
                    <div class="cote">
                        <div class="sub">
                            <label for="expi">Date d'expiration</label>
                            <input id="expi" type="text" placeholder="Date d'expiration" class="champ full paypal-avoid" />
                        </div>
                        <div class="sub">
                            <label for="crypto">Cryptogramme</label>
                            <input id="crypto" type="text" placeholder="Cryptogramme" class="champ full paypal-avoid" />
                        </div>
                    </div>
                </div>

                <!-- SI PAYPAL SELECTIONNÉ -->
                <div class="etape2 hide" id="paypal">
                    <img class="paypal" src="{{ asset('img/affiches/paypal.png') }}" alt="paypal" />
                </div>
                <a class="suite valid">Valider votre commande</a>
            </div>
        </div>



        <div class="wrapper--side" >
            <div class="recap" id="recap">
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ asset('script/scripttunnel.js') }}"></script>
    <script src="{{ asset('script/scriptpanier.js') }}"></script>
{% endblock %}


