{% extends 'base.html.twig' %}
{% block title %}Pignon-sur-mer{% endblock %}
{% block meta %}
    <meta name="robots" content="index,follow"/>
    <meta name="description" content="Le site pour réserver toutes vos places d'évènements culturels à Pignon-sur-mer">
{% endblock %}
{% block stylesheet %} {{ asset('css/accueil.css') }} {% endblock %}

{% block body %}

    <div class="wrapper">
        <div class="slide--home"><h1>Les évènements près de chez vous</h1></div>
        <h2>Prochainement</h2>
        <div class="container--prochainement">

            <a href="event/{{ events[0].id }}">
                <div class="tile" style="background-image: url({{ asset(events[0].manifAffiche) }})">
                    <div class="type">{{ events[0].manifGenre }}</div>
                    <div class="text">
                        <p>{{ events[0].manifDate }} - {{ events[0].ManifHoraire }}</p>
                        <h3>{{ events[0].manifTitre }}</h3>
                    </div>
                </div>
            </a>

            <a href="event/{{ events[13].id }}">
                <div class="tile" style="background-image: url({{ asset(events[13].manifAffiche) }})">
                    <div class="type">{{ events[13].manifGenre }}</div>
                    <div class="text">
                        <p>{{ events[13].manifDate }} - {{ events[13].ManifHoraire }}</p>
                        <h3>{{ events[13].manifTitre }}</h3>
                    </div>
                </div>
            </a>

            <a href="event/{{ events[7].id }}">
                <div class="tile" style="background-image: url({{ asset(events[7].manifAffiche) }})">
                    <div class="type">{{ events[7].manifGenre }}</div>
                    <div class="text">
                        <p>{{ events[7].manifDate }} - {{ events[7].ManifHoraire }}</p>
                        <h3>{{ events[7].manifTitre }}</h3>
                    </div>
                </div>
            </a>

            <a href="event/{{ events[1].id }}">
                <div class="tile" style="background-image: url({{ asset(events[1].manifAffiche) }})">
                    <div class="type">{{ events[1].manifGenre }}</div>
                    <div class="text">
                        <p>{{ events[1].manifDate }} - {{ events[1].ManifHoraire }}</p>
                        <h3>{{ events[1].manifTitre }}</h3>
                    </div>
                </div>
            </a>

        </div>
    </div>

{% endblock %}