<!DOCTYPE html>
<html lang="fr">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ asset('favicon.ico') }}">
    <link href="{{ asset('css/base.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/navbar.css') }}" rel="stylesheet" />
    <link href="{% block stylesheet %}{% endblock %}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block meta %}{% endblock %}
    <meta name="google-site-verification" content="FDUDN2KN6wBHnMraqBTSTLOFrJV-jQBJ5E09wx0IH_M" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
    {{ block("navbar", "nav_bar/index.html.twig") }}
    {% block body %}{% endblock %}
    {{ block("footer", "footer/index.html.twig") }}
</body>

{% block script %}
    <script src="{{ asset('script/scriptpanier.js') }}"></script>
{% endblock %}

</html>